[Unit]
Description=Camera server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=camerauser
ExecStart=python3 /opt/main.py --cert=/opt/cert.pem --key=/opt/key.pem -u test -p test

[Install]
WantedBy=multi-user.target